In [117]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import xgboost as xgb
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler
import random
import tensorflow.keras.utils as utils
import pydot
from tensorflow.keras import regularizers
from tensorflow.keras import layers
from sklearn.ensemble import RandomForestRegressor
class Mics_Model:
    def __init__(self, dataset_dir, use_encoder=True, sampling_method="Vanilla", global_model="NN", group_number = 3):
        self.dataset_dir = dataset_dir
        self.use_encoder = use_encoder
        self.sampling_method = sampling_method
        self.global_model = global_model
        self.group_number = group_number
        self.raw_data = None
            
    #ASSUMPTION: label column is in the end and all other columns are features. There is no index column in the data.
    def get_raw_data(self):
        raw_data = pd.read_csv(self.dataset_dir, index_col=0)
        raw_data = raw_data.fillna(raw_data.mean())
        self.raw_data = raw_data
        
    #This method assigns the feature number = column number - 1 (exclude label column). After that, it returns a list of
    #input feature numbers according to group count. Ex: for 28 cols, 27 features, 4 group_num: returns [7,7,6,7] 
    #Output of this function can be fed to get_model methods as inp_sizes input.
    def get_input_group_lenthgs(self):
        count = self.group_number
        input_sizes = [None]*count
        feature_num = len(self.raw_data.columns) - 1
        for i in range(count):
            group_size = round(feature_num/(count-i))
            input_sizes[i] = group_size
            feature_num = feature_num - group_size
        return input_sizes
    
    #This method returns grouped column numbers
    #[[1,4,5],[2,3,6]]
    def get_grouped_feature_cols(self):
        grouped_feature_cols = [None]*self.group_number
        feature_num = len(self.raw_data.columns) - 1
        inp_sizes = self.get_input_group_lenthgs()
        total_nums = [i for i in range(feature_num)]
        for j in range(len(inp_sizes)):
            size = inp_sizes[j]
            temp_list = random.sample(total_nums, size)
            grouped_feature_cols[j] = temp_list
            for k in temp_list:
                total_nums.remove(k)
        return grouped_feature_cols
    
    #groups is a list of lists [[1,4,5], [2,3,6]] which is output of get_grouped_feature_cols method
    #returns: [[train_x1, train_x2..., train_xn, train_y],
    #          [test_x1, test_x2..., test_xn, test_y]]
    def get_features_and_labels(self, groups):
        row_num = len(self.raw_data.index)
        
        trainx_df = self.raw_data.iloc[:int(0.8*row_num), 1:]
        trainy_df = self.raw_data.iloc[:int(0.8*row_num), 0]
        testx_df = self.raw_data.iloc[int(0.8*row_num):, 1:]
        testy_df = self.raw_data.iloc[int(0.8*row_num):, 0]        
        
        scaler = StandardScaler()
        trainx_scaled = pd.DataFrame(scaler.fit_transform(trainx_df), columns = trainx_df.columns, index = trainx_df.index)
        textx_scaled = pd.DataFrame(scaler.transform(testx_df), columns = testx_df.columns, index = testx_df.index)
        
        features_and_labels = [[None for _ in range(self.group_number + 1)] for _ in range(2)]
        
        for index, group in enumerate(groups):
            train_temp = trainx_scaled.iloc[:,group]
            features_and_labels[0][index] = train_temp.values
            test_temp = textx_scaled.iloc[:,group]
            features_and_labels[1][index] = test_temp.values            
        features_and_labels[0][self.group_number] = trainy_df.values
        features_and_labels[1][self.group_number] = testy_df.values   
        return features_and_labels
    
    #return [[train_x1, train_x2..., train_xn, train_y],
    #        [test_x1, test_x2..., test_xn, test_y]]
    
    def get_vanilla_encoder_model(self, inp_size):
        inputs = keras.layers.Input(shape=(inp_size))
        h1 = keras.layers.Dense(10, activation="relu")(inputs)
        h1 = keras.layers.Dense(10, activation="relu")(inputs)        
        outputs = keras.layers.Dense(inp_size, activation="relu")(h1)
        return keras.Model(inputs,outputs)
    
    class Sampling(layers.Layer):
        def call(self, inputs):
            z_mean, z_log_var = inputs
            batch = tf.shape(z_mean)[0]
            dim = tf.shape(z_mean)[1]
            epsilon = tf.keras.backend.random_normal(shape=(batch, dim))
            return z_mean + tf.exp(0.5 * z_log_var) * epsilon #multiplies with std
    
    def get_variatonal_encoder_model(self, inp_size):
        inputs = layers.Input(shape=(inp_size))
        h1 = layers.Dense(10, activation="relu")(inputs)
        z_mean = layers.Dense(inp_size, name="z_mean")(h1)
        z_log_var = layers.Dense(inp_size, name="z_log_var")(h1)
        outputs = Sampling()([z_mean, z_log_var])
        return keras.Model(inputs,outputs)
    #New sampling methods can be added here 
    
    def get_nn_model(self, inp_sizes, drop_out=0.25, hidden_num = 4, hidden_size=32):
        inp_group_count = len(inp_sizes)
        inputs = [None]*inp_group_count
        for i in range(inp_group_count):
            inputs[i] = keras.layers.Input(shape=(inp_sizes[i]), name="input_"+str(i))
        if self.use_encoder == True:
            encoders = [None]*inp_group_count
            if self.sampling_method == "Vanilla":
                for j in range(inp_group_count):
                    encoders[j] = self.get_vanilla_encoder_model(inp_sizes[j])
            elif self.sampling_method == "Variational":
                for j in range(inp_group_count):
                    encoders[j] = self.get_variatonal_encoder_model(inp_sizes[j])
            #This place can be extended if new sampling methods are added.
            global_inputs = [None]*inp_group_count
            for k in range(inp_group_count):
                global_inputs[k] = encoders[k](inputs[k])
                global_input = keras.layers.concatenate(global_inputs)
        else:
            global_input = keras.layers.concatenate(inputs)
            
        h = keras.layers.Dense(hidden_size, activation="relu", kernel_regularizer=regularizers.l1_l2(l1=1e-4, l2=1e-3))(global_inp)
        h = keras.layers.Dropout(drop_out)(h)
        for hidden in range(hidden_num):
            h = keras.layers.Dense(hidden_size, activation="relu", kernel_regularizer=regularizers.l1_l2(l1=1e-4, l2=1e-3))(h)
            h = keras.layers.Dropout(drop_out)(h) 

        outputs = keras.layers.Dense(1, activation="relu")(h)    
        return keras.Model(inputs=[inputs_A, inputs_B, inputs_C], outputs = outputs) 
    
    def default_exp(self):
        inp_sizes = self.get_input_group_lenthgs()
        groups = self.get_grouped_feature_cols()
        features_and_labels = self.get_features_and_labels(groups)
        MICS_model = self.get_nn_model(inp_sizes=inp_sizes)
        callback = [tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=50), 
                keras.callbacks.ReduceLROnPlateau("val_loss", factor = 0.8, patience=30,
                                                 verbose = 2, mode = "auto", 
                                                  min_lr = 1e-6)]
        MICS_model.compile(optimizer=keras.optimizers.Adam(learning_rate=0.01), loss=keras.losses.MeanSquaredError())
        history = MICS_model.fit(x = features_and_labels[0][:-1], y = features_and_labels[0][-1].values,  
                                 validation_data = (features_and_labels[1][:-1], features_and_labels[1][-1]),
                                 epochs=300, batch_size = 300, callbacks=callback)
        training_val_loss = history.history["val_loss"]
        best_row_index = np.argmin(training_val_loss)
        best_val_loss = training_val_loss[best_row_index]

In [101]:
import random
def get_grouped_feature_cols(group_number, col_num, inp_sizes):
    grouped_feature_cols = [None]*group_number
    feature_num = col_num - 1
    total_nums = [i for i in range(1,feature_num+1)]
    for j in range(len(inp_sizes)):
        size = inp_sizes[j]
        temp_list = random.sample(total_nums, size)
        grouped_feature_cols[j] = temp_list
        for k in temp_list:
            total_nums.remove(k)
    return grouped_feature_cols  
res = get_grouped_feature_cols(4, 24, [6,6,5,6])
res

[[7, 18, 16, 11, 3, 4],
 [2, 20, 10, 14, 13, 12],
 [5, 6, 1, 15, 22],
 [21, 23, 9, 8, 19, 17]]

In [119]:
dataset_dir = "./Datasets/energydata_use.csv"
deneyelim = Mics_Model(dataset_dir)
deneyelim.get_raw_data()
deneyelim.default_exp()

NameError: name 'selg' is not defined

In [103]:
deneyelim.raw_data

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint
date,,,,,,,,,,,,,,,,,,,,,
2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,18.2000,48.900000,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000
2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,18.2000,48.863333,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000
2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,18.2000,48.730000,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000
2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,18.1000,48.590000,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000
2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,18.1000,48.590000,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,24.7000,50.074000,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333
2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,24.7000,49.790000,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000
2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,24.7000,49.660000,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667
2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,24.6625,49.518750,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333
2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,24.7360,49.736000,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000

In [104]:
groups = deneyelim.get_grouped_feature_cols()

In [105]:
groups

[[12, 7, 15, 21, 9, 22, 17, 8],
 [1, 24, 0, 19, 18, 6, 2, 5],
 [14, 13, 10, 4, 16, 23, 11, 3, 20]]

In [106]:
deneyelim.get_features_and_labels(groups)

[[                         RH_6        T4        T8    RH_out        T5  \
  date
  2016-01-11 17:00:00  0.769623 -0.761611 -1.924584  0.786817 -1.385479
  2016-01-11 17:10:00  0.762633 -0.761611 -1.924584  0.786817 -1.385479
  2016-01-11 17:20:00  0.729854 -0.810232 -1.924584  0.786817 -1.385479
  2016-01-11 17:30:00  0.739495 -0.834542 -1.983431  0.786817 -1.385479
  2016-01-11 17:40:00  0.792640 -0.834542 -1.983431  0.786817 -1.359694
  ...                       ...       ...       ...       ...       ...
  2016-04-30 07:30:00 -0.294374 -0.569336 -0.106203  1.096424  0.110056
  2016-04-30 07:40:00 -0.287143 -0.609117 -0.106203  1.070624  0.058486
  2016-04-30 07:50:00 -0.281118 -0.569336 -0.159166  1.044823  0.110056
  2016-04-30 08:00:00 -0.300159 -0.569336 -0.159166  1.019022  0.161626
  2016-04-30 08:10:00 -0.329323 -0.569336 -0.159166  0.928720  0.257031

                       Windspeed        T9      RH_4
  date
  2016-01-11 17:00:00   1.065608 -1.217218  1.554962
  2016-01-11 17:10:00   0.935169 -1.193835  1.654543
  2016-01-11 17:20:00   0.804731 -1.240601  1.630574
  2016-01-11 17:30:00   0.674293 -1.240601  1.591599
  2016-01-11 17:40:00   0.543854 -1.240601  1.546388
  ...                        ...       ...       ...
  2016-04-30 07:30:00  -1.282284  0.302667 -0.310373
  2016-04-30 07:40:00  -1.282284  0.302667 -0.279193
  2016-04-30 07:50:00  -1.282284  0.302667 -0.081980
  2016-04-30 08:00:00  -1.282284  0.302667 -0.050800
  2016-04-30 08:10:00  -1.282284  0.302667 -0.036769

  [15788 rows x 8 columns],
                             T1  Tdewpoint    lights     T_out      RH_9  \
  date
  2016-01-11 17:00:00 -1.039517   0.729188  3.071295  0.180377  1.014203
  2016-01-11 17:10:00 -1.039517   0.700803  3.071295  0.152122  1.021582
  2016-01-11 17:20:00 -1.039517   0.672418  3.071295  0.123867  1.006824
  2016-01-11 17:30:00 -1.039517   0.644033  4.267005  0.095612  0.982227
  2016-01-11 17:40:00 -1.039517   0.615647  4.267005  0.067357  0.982227
  ...                       ...        ...       ...       ...       ...
  2016-04-30 07:30:00  0.113503   0.487914 -0.515833 -0.182903  0.029511
  2016-04-30 07:40:00  0.168409   0.502106 -0.515833 -0.158684  0.014753
  2016-04-30 07:50:00  0.195862   0.516299 -0.515833 -0.134466 -0.001645
  2016-04-30 08:00:00  0.195862   0.530492 -0.515833 -0.110247 -0.059858
  2016-04-30 08:10:00  0.195862   0.521030 -0.515833 -0.077955 -0.092653

                           RH_3      RH_1        T3
  date
  2016-01-11 17:00:00  1.681976  2.103814 -1.200652
  2016-01-11 17:10:00  1.700697  1.852407 -1.200652
  2016-01-11 17:20:00  1.745419  1.742937 -1.200652
  2016-01-11 17:30:00  1.766219  1.677998 -1.200652
  2016-01-11 17:40:00  1.766219  1.752214 -1.200652
  ...                       ...       ...       ...
  2016-04-30 07:30:00 -0.667471 -0.771142  0.801833
  2016-04-30 07:40:00 -0.752754 -0.661673  0.761783
  2016-04-30 07:50:00 -0.906680 -0.580962  0.675009
  2016-04-30 08:00:00 -0.867158 -0.567047  0.675009
  2016-04-30 08:10:00 -0.885879 -0.457578  0.675009

  [15788 rows x 8 columns],
                           RH_7        T7      RH_5      RH_2      RH_8  \
  date
  2016-01-11 17:00:00  1.311407 -1.494334  0.434884  1.246472  1.160518
  2016-01-11 17:10:00  1.298168 -1.494334  0.434884  1.226599  1.153506
  2016-01-11 17:20:00  1.273015 -1.494334  0.422695  1.198385  1.128006
  2016-01-11 17:30:00  1.244551 -1.536665  0.422695  1.187590  1.101232
  2016-01-11 17:40:00  1.232637 -1.494334  0.422695  1.169926  1.101232
  ...                       ...       ...       ...       ...       ...
  2016-04-30 07:30:00 -0.284520 -0.287906 -0.894794 -0.045972  0.350278
  2016-04-30 07:40:00 -0.277239 -0.287906 -0.902920  0.009966  0.336253
  2016-04-30 07:50:00 -0.250761 -0.287906 -0.912246 -0.007699  0.305654
  2016-04-30 08:00:00 -0.237523 -0.287906 -0.961647 -0.078356  0.267405
  2016-04-30 08:10:00 -0.222960 -0.287906 -0.995628 -0.078356  0.210031

                       Visibility        T6        T2  Press_mm_hg
  date
  2016-01-11 17:00:00    1.961544  0.188895 -0.284588    -2.815843
  2016-01-11 17:10:00    1.652462  0.147545 -0.284588    -2.802987
  2016-01-11 17:20:00    1.343380  0.089083 -0.284588    -2.790130
  2016-01-11 17:30:00    1.034298  0.061991 -0.284588    -2.777274
  2016-01-11 17:40:00    0.725216  0.047732 -0.284588    -2.764417
  ...                         ...       ...       ...          ...
  2016-04-30 07:30:00    0.107051  0.131860 -0.554938     0.314740
  2016-04-30 07:40:00    0.107051  0.188895 -0.488999     0.325453
  2016-04-30 07:50:00    0.107051  0.311522 -0.440644     0.336167
  2016-04-30 08:00:00    0.107051  0.382817 -0.416466     0.346881
  2016-04-30 08:10:00    0.107051  0.445556 -0.416466     0.355452

  [15788 rows x 9 columns],
  date
  2016-01-11 17:00:00     60
  2016-01-11 17:10:00     60
  2016-01-11 17:20:00     50
  2016-01-11 17:30:00     50
  2016-01-11 17:40:00     60
                        ...
  2016-04-30 07:30:00     80
  2016-04-30 07:40:00     80
  2016-04-30 07:50:00     50
  2016-04-30 08:00:00     70
  2016-04-30 08:10:00    300
  Name: Appliances, Length: 15788, dtype: int64],
 [                         RH_6        T4        T8    RH_out        T5  \
  date
  2016-04-30 08:20:00 -0.365476 -0.569336 -0.159166  0.838418  0.210618
  2016-04-30 08:30:00 -0.430311 -0.525135 -0.159166  0.748116  0.187411
  2016-04-30 08:40:00 -0.534192 -0.503035 -0.198397  0.657814  0.187411
  2016-04-30 08:50:00 -0.740207 -0.454414 -0.159166  0.567512  0.187411
  2016-04-30 09:00:00 -0.789677 -0.430103 -0.159166  0.477210  0.187411
  ...                       ...       ...       ...       ...       ...
  2016-05-27 17:20:00 -2.240395  3.017574  1.900489 -2.025449  3.281621
  2016-05-27 17:30:00 -2.240395  3.017574  1.900489 -1.999648  3.304827
  2016-05-27 17:40:00 -2.240395  3.017574  1.900489 -1.973847  3.304827
  2016-05-27 17:50:00 -2.240395  3.017574  1.878421 -1.948047  3.281621
  2016-05-27 18:00:00 -2.240395  3.017574  1.921674 -1.922246  3.281621

                       Windspeed        T9      RH_4
  date
  2016-04-30 08:20:00  -1.282284  0.302667 -0.043785
  2016-04-30 08:30:00  -1.282284  0.302667  0.017016
  2016-04-30 08:40:00  -1.282284  0.302667  0.095745
  2016-04-30 08:50:00  -1.282284  0.302667  0.128484
  2016-04-30 09:00:00  -1.282284  0.365800  0.136279
  ...                        ...       ...       ...
  2016-05-27 17:20:00  -0.369215  3.108607  1.560419
  2016-05-27 17:30:00  -0.303996  3.108607  1.560419
  2016-05-27 17:40:00  -0.238776  3.108607  1.593158
  2016-05-27 17:50:00  -0.173557  3.108607  1.607189
  2016-05-27 18:00:00  -0.108338  3.108607  1.647723

  [3947 rows x 8 columns],
                             T1  Tdewpoint    lights     T_out      RH_9  \
  date
  2016-04-30 08:20:00  0.195862   0.511568 -0.515833 -0.045664 -0.159065
  2016-04-30 08:30:00  0.195862   0.502106 -0.515833 -0.013372 -0.206618
  2016-04-30 08:40:00  0.195862   0.492645 -0.515833  0.018919 -0.256632
  2016-04-30 08:50:00  0.195862   0.483183  0.679876  0.051211 -0.274670
  2016-04-30 09:00:00  0.140956   0.473721 -0.515833  0.083502 -0.247613
  ...                       ...        ...       ...       ...       ...
  2016-05-27 17:20:00  3.635705   3.009470 -0.515833  4.087654  1.324122
  2016-05-27 17:30:00  3.580799   3.000008 -0.515833  4.055362  1.324122
  2016-05-27 17:40:00  3.580799   2.990547  0.679876  4.023071  1.324122
  2016-05-27 17:50:00  3.580799   2.981085  0.679876  3.990779  1.330886
  2016-05-27 18:00:00  3.580799   2.971623  0.679876  3.958488  1.337651

                           RH_3      RH_1        T3
  date
  2016-04-30 08:20:00 -0.885879 -0.494686  0.675009
  2016-04-30 08:30:00 -0.871838 -0.531794  0.675009
  2016-04-30 08:40:00 -0.857798 -0.541999  0.697259
  2016-04-30 08:50:00 -0.857798 -0.558697  0.741758
  2016-04-30 09:00:00 -0.857798 -0.594878  0.741758
  ...                       ...       ...       ...
  2016-05-27 17:20:00  0.569135  1.815298  3.745485
  2016-05-27 17:30:00  0.587856  1.798600  3.700986
  2016-05-27 17:40:00  0.733461  1.825503  3.645361
  2016-05-27 17:50:00  0.608657  1.934972  3.538562
  2016-05-27 18:00:00  0.567055  1.826431  3.494062

  [3947 rows x 8 columns],
                           RH_7        T7      RH_5      RH_2      RH_8  \
  date
  2016-04-30 08:20:00 -0.222960 -0.287906 -0.995628 -0.056767  0.171782
  2016-04-30 08:30:00 -0.222960 -0.287906 -0.958323 -0.096021  0.139271
  2016-04-30 08:40:00 -0.237523 -0.287906 -0.943549 -0.155883  0.127796
  2016-04-30 08:50:00 -0.244804 -0.287906 -0.928036 -0.232429  0.127796
  2016-04-30 09:00:00 -0.244804 -0.287906 -0.936162 -0.370800  0.139271
  ...                       ...       ...       ...       ...       ...
  2016-05-27 17:20:00  1.881996  3.140891  0.124626  0.432649  1.385039
  2016-05-27 17:30:00  1.864974  3.177175  0.116500  0.448631  1.330726
  2016-05-27 17:40:00  1.862138  3.166290  0.109851  0.651350  1.305864
  2016-05-27 17:50:00  1.841428  3.140891  0.102464  0.730083  1.278851
  2016-05-27 18:00:00  1.793429  3.140891  0.102464  0.711073  1.320398

                       Visibility        T6        T2  Press_mm_hg
  date
  2016-04-30 08:20:00    0.107051  0.489759 -0.328547     0.364023
  2016-04-30 08:30:00    0.107051  0.595988 -0.284588     0.372594
  2016-04-30 08:40:00    0.107051  0.667283 -0.242827     0.381165
  2016-04-30 08:50:00    0.107051  0.749985 -0.066989     0.389736
  2016-04-30 09:00:00    0.107051  0.959591  0.064889     0.398307
  ...                         ...       ...       ...          ...
  2016-05-27 17:20:00   -1.209907  3.989616  4.126733    -0.025960
  2016-05-27 17:30:00   -1.142716  3.861286  4.037056    -0.025960
  2016-05-27 17:40:00   -1.075524  3.739372  3.954349    -0.025960
  2016-05-27 17:50:00   -1.008332  3.484137  3.812863    -0.025960
  2016-05-27 18:00:00   -0.941140  3.183273  3.714143    -0.025960

  [3947 rows x 9 columns],
  date
  2016-04-30 08:20:00    370
  2016-04-30 08:30:00    590
  2016-04-30 08:40:00    320
  2016-04-30 08:50:00    310
  2016-04-30 09:00:00    260
                        ...
  2016-05-27 17:20:00    100
  2016-05-27 17:30:00     90
  2016-05-27 17:40:00    270
  2016-05-27 17:50:00    420
  2016-05-27 18:00:00    430
  Name: Appliances, Length: 3947, dtype: int64]]

In [56]:
a = [None]*3
b = [a,a]

In [57]:
b

[[None, None, None], [None, None, None]]

In [58]:
b[0][1] = 5
b

[[None, 5, None], [None, 5, None]]

In [61]:
a=[[None]*3]*2
a

[[None, None, None], [None, None, None]]

In [62]:
a[0][2]=5
a

[[None, None, 5], [None, None, 5]]

In [63]:
x = [[None for _ in range(3)] for _ in range(2)]
x

[[None, None, None], [None, None, None]]

In [64]:
x[1][2]=2
x

[[None, None, None], [None, None, 2]]

In [107]:
type([1,2,3])

list

In [112]:
a = [1,4,5]
(a[:-1])

[1, 4]

In [115]:
c = [[2,4,6],[1,3,5]]
c[1][-1]

5